.videoGrid {
  width: 1000px;
  height: 100px;
  /*min-height: 100px;*/
  display: grid;
  grid-template-columns: repeat(auto-fill, 300px);
  grid-auto-rows: 300px;
  background-color: rgb(7, 121, 83);
}

video {
  border-radius: 25px;
  width: 300px;
  height: 300px;
  object-fit: cover;
  margin: 10px;
  background-color: rgb(3, 51, 35);
}
